/5886008.webp
/adventure.py
/adventure1.py
/alphabet.py
/armstong.py
/babu.py
/bobble.py
/budget.py
/codemy.ico
/contents.py
/copy.py
/data.txt
/deffibonacci.py
/deffibonacci.sublime-workspace
/defodd.py
/defprime.py
/Double_Link$Node.class
/Double_Link.class
/Double_Link.java
/funpoly.py
/ganesh.jpg
/images.py
/insertion.py
/iris.py
/linked.java
/loanprediction.py
/matplot.py
/merge.py
/pandas.py
/poly.py
/polymor.py
/rainfall.py
/rectangle.py
/reverse.class
/reverse.java
/temper.py
/tic_tac_toe.py
/Todo.py
/todo1.py
/training.py
/turtles.py
/unknown.py
/vowels.py
/__pycache__